.category_link {
  width: 100px;
  margin: 16px;
}
.category_container {
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--highlight);
  cursor: pointer;
}
